Flask
gunicorn
APScheduler
Flask-APScheduler
Flask-Login
Flask-Mail
Flask-SQLAlchemy
cachetools
requests
Flask-OAuthlib
Authlib
psycopg2-binary
pyrebase4
flask-googlemaps
python-dotenv
flask-cors
Flask-Dance
paystackapi
nanoid
flask_socketio
eventlet