{% extends "base.html" %}
{% block styles %}
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" /> -->
<link rel="stylesheet" href="/static/chatapp.css" />
{% endblock %}
{% block content %}
<div id="app">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar"  placeholder="Search" >
              <span class="input-group-addon">
              <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div v-for="item in conversations" class="chat_list" v-on:click="GetMessages(item)">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png"> </div>
              <div class="chat_ib">
                <h5>[[ item.name ]] <span class="chat_date">Dec 25</span></h5>
                <p v-if="item.type == 'wp'">Whatsapp Message</p>
                <p v-else>Facebook Message</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="chat_list chat_list-title">
          <div class="chat_people">
            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png"> </div>
            <div class="chat_ib">
              <button class="msg_send_tag" type="button" v-on:click="SendTagMessage(newMessage)">Send Tag Message</button>
              <h5>[[ conversation.name ]]</h5>
              <p v-if="conversation.type == 'wp'">Whatsapp Message</p>
              <p v-else>Facebook Message</p>
            </div>
          </div>
        </div>
        <div class="msg_history">
          <div v-for="msg in messages">
            <div v-if="msg.sender != 'Business'" class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>[[ msg.sender_message ]]</p>
                  <span class="time_date">[[msg.timestamp]]</span></div>
              </div>
            </div>
            <div v-else class="outgoing_msg">
              <div class="sent_msg">
                <p>[[ msg.sender_message ]]</p>
                <span class="time_date">[[msg.timestamp]]</span> </div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" v-model="newMessage.message" placeholder="Type a message" />
          </div>
          <button class="msg_send_btn" type="button" v-on:click="SendMessage(newMessage)"><i class="fa-solid fa-paper-plane" v-on:click="SendMessage(newMessage)"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script src="/static/chatapp.js"></script> -->
<script>
  var baseUri = "https://troologdemo.azurewebsites.net";
  const { createApp } = Vue
    createApp({
      data() {
        return {
          conversations: [],
          conversation: {},
          messages: [],
          recentMessages: [],
          newMessage: {
            recipient: "",
            type: "",
            conversationId: "",
            memberId: "",
            message: "",
            phoneId: "",
            pageId: ""
          }
        }
      },
      delimiters: ['[[', ']]'],
      methods: {
        GetConversations(){
          this.conversations = [];
					const _this = this;
          axios.get(baseUri + '/conversations/{{user.id}}')
            .then(function (response) {
              console.log(response);
              _this.conversations = response.data;
              if(_this.conversations.length > 0){
                _this.conversation = _this.conversations[0];
                _this.GetMessages(_this.conversation);
              }
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
            .finally(function () {
              // always executed
            });
        },
        GetMessages(conv){
          console.log("***********");
          console.log(conv.members)
          this.messages = [];
          this.conversation = conv;
					const _this = this;
          if(conv.members.length > 0){
            mem = conv.members.filter(member => member.mobile_phone != "Business");
            console.log(mem)
            axios.get(baseUri + '/messages/' + conv.id)
              .then(function (response) {
                _this.messages = response.data;
                _this.newMessage.recipient = mem[0].mobile_phone;
                _this.newMessage.memberId = mem[0].id;
                _this.newMessage.conversationId = conv.id;
                _this.newMessage.type = conv.type;
                _this.newMessage.message = "";
                _this.newMessage.pageId = conv.page_id
              })
              .catch(function (error) {
                // handle error
                console.log("*******22222****");
                console.log(error);
              })
              .finally(function () {
                // always executed
              });
          }
        },
        GetRecentMessages(){
					const _this = this;
          axios.get(baseUri + '/recentmessages/' + _this.conversation.id)
            .then(function (response) {
              _this.recentMessages = response.data;
              _this.recentMessages.forEach(function (part, index){
                msg = _this.messages.filter(message => message.id == part.id);
                if(msg.length == 0){
                  _this.messages.push(part)
                }
              });
            })
            .catch(function (error) {
              console.log(error);
            })
            .finally(function () {
              // always executed
            });
        },
        SendMessage(newMessage){
          const _this = this;
          console.log(newMessage);
          if(newMessage.message != ""){
            console.log(newMessage);
            const msg = newMessage.message;
            _this.newMessage.message = "";
            console.log('dggwgdhdhgwhewhwdehwhe' + newMessage.pageId)
            axios.post(baseUri + '/sendmessage', {
              type: newMessage.type,
              message: msg,
              recipient: newMessage.recipient,
              conversationId: newMessage.conversationId,
              memberId: newMessage.memberId,
              pageId: newMessage.pageId
            })
            .then(function (response) {
              _this.newMessage.message = "";
              _this.messages.push(response.data);
            })
            .catch(function (error) {
              console.log(error);
            });
          }
        },
        SendTagMessage(newMessage){
          const _this = this;
          console.log(newMessage);
          axios.post(baseUri + '/sendtagmessage', {
            type: newMessage.type,
            recipient: newMessage.recipient,
            conversationId: newMessage.conversationId,
            memberId: newMessage.memberId,
            pageId: newMessage.pageId
          })
          .then(function (response) {
            console.log(response);
            _this.newMessage.message = "";
            _this.messages.push(response.data);
          })
          .catch(function (error) {
            console.log(error);
          });
        }
      },
      mounted() {
        this.GetConversations(),
        setInterval(this.GetRecentMessages, 4000)
      }
    }).mount('#app')
</script>
{% endblock %}