{% extends "user_layout.html" %}
{% block style %}
<style>
    section {
        padding-top: 4rem;
        padding-bottom: 5rem;
        background-color: #f1f4fa;
    }
    .wrap {
        display: flex;
        background: white;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
        margin-bottom: 2rem;
    }
    
    .wrap:hover {
        background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
        color: white;
    }
    
    .ico-wrap {
        margin: auto;
    }
    
    .mbr-iconfont {
        font-size: 4.5rem !important;
        color: #313131;
        margin: 1rem;
        padding-right: 1rem;
    }
    .vcenter {
        margin: auto;
    }
    
    .mbr-section-title3 {
        text-align: left;
    }
    h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .display-5 {
        font-family: 'Source Sans Pro',sans-serif;
        font-size: 1.4rem;
    }
    .mbr-bold {
        font-weight: 700;
    }
    
     p {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 25px;
    }
    .display-6 {
        font-family: 'Source Sans Pro',sans-serif;
        font-size: 12px}
</style>
{% endblock %}


{% block content %}
<section>
    <div class="container">
        <div class="row mbr-justify-content-center">

            <a class="col-lg-6 mbr-col-md-10" href="/wpconfiguration">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-volume-up far"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">WhatsApp</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Offer more services on WhatsApp with the Business API</p>
                    </div>
                </div>
            </a>
            <a class="col-lg-6 mbr-col-md-10" href="#" id="fblogin" onclick="fbLogin()">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-calendar-o far"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Facebook</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Manage your customer messages from Facebook Messenger in troolog</p>
                    </div>
                </div>
            </a>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-globe far"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Instagram</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Manage your customer messages from Instagram DM in troolog</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-trophy far"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Twitter</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Easily reply all your twitter DM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1565961207239611',
            cookie     : true,
            xfbml      : true,
            version    : 'v16.0'
          });

          FB.AppEvents.logPageView();
        };

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                console.log(response);
                statusChangeCallback(response);
            });
          }

        function fbLogin() {
            FB.getLoginStatus(function(response) {
                console.log(response);
                if (response.status != 'connected') {
                    FB.login(function(response) {
                        console.log(response);
                        statusChangeCallback(response);
                    },
                    {
                        config_id: '{{configId}}'
                    });
                }
            });
        }


        function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
            console.log('statusChangeCallback');
            console.log(response);                   // The current login status of the person.
            if (response.status === 'connected') {
                  ConfigureApp();
            } else {                                 // Not logged into your webpage or we are unable to tell.
              document.getElementById('status').innerHTML = 'Please log ' +
                'into this webpage.';
            }
          }

        function ConfigureApp() {
            FB.api('/me/accounts','GET',{"fields":"name,access_token,id"},function(response) {
                axios.post('https://troologdemo.azurewebsites.net/fbconfiguration', {
                    type: "fb",
                    userId: '{{userId}}',
                    data: response.data
                  })
                  .then(function (response) {
                    console.log(response);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
        }

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>
      <div id="status"></div>
      <!-- <fb:login-button config_id="188936620679912" onlogin="checkLoginState();"></fb:login-button> -->
</section>

<table class="table table-success table-striped">
    <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Page ID</th>
          <th scope="col">Phone ID</th>
          <th scope="col">Page Name</th>
        </tr>
      </thead>
    {% for item in configs %}
        <tbody>
            <tr>
                <td>{{ item.type }}</td>
                <td>{{ item.page_id }}</td>
                <td>{{ item.phone_id }}</td>
                <td>{{ item.page_name }}</td>
            </tr>
        </tbody>
    {% endfor %}
</table>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}