{% extends "user_layout.html" %}
{% block style %}
<style>
    
</style>
{% endblock %}


{% block content %}
<section>
    <h2 id="status">Connecting...</h2>
</section>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script  type="text/javascript" charset="utf-8">
    var baseUri = '{{baseUrl}}'
    function isEmpty(value) {
        return typeof value === 'undefined' || value === null || value === '';
    }
    document.addEventListener("DOMContentLoaded", function(event){
        if(isEmpty(window.location.hash)){
            document.getElementById("status").value = "Connection failed!";
        }
        else{
            const result = window.location.hash.split("long_lived_token=");
            if(!isEmpty(result[1])){
                axios.get(baseUri + '/configinstagram/'+ result[1])
                  .then(function(response) {
                    console.log(response.data);
                    document.getElementById("status").value = response.data;
                    window.location.href = baseUri + "/configurations"
                  })
                  .catch(function(error) {
                      console.log(error.response.data);
                      document.getElementById("status").value = "Failed to connect";
                      // Handle error
                  });
            }
        }
    })
</script>
{% endblock %}