<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invite</title>
</head>
<body>
    <p> Hi [[0]]!</p>
    <p>You've been invited to join [[1]]. To verify your account, simply click the button below</p>
    <a href="http://127.0.0.1:5000/" style="display:block; background-color:cornflowerblue; color: #ffffff; padding: 10px;">Click here</a>
    <p>Hope you will find [[1]] useful!</p>
    <p>
        Best <br>
        The [[1]] team
    </p>

</body>
</html>