{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Privacy Policy</h2>
      <p>We respect your privacy and are committed to protecting your personal data. This privacy policy will inform you about how we collect, use, and safeguard your personal data when you visit our website or use our services.</p>
      <h3>What data do we collect?</h3>
      <h5>We may collect the following types of personal data from you:</h5>
      <pre>
        - Identity data, such as your name, username, or email address.
        - Contact data, such as your phone number, address, or social media accounts.
        - Technical data, such as your IP address, browser type, device type, or operating system.
        - Usage data, such as your browsing history, preferences, or feedback.
        - Marketing data, such as your preferences for receiving newsletters, promotions, or surveys.
      </pre>
      <h3>How do we collect your data?</h3>
      <h5>We may collect your personal data in different ways:</h5>
      <pre>
        - Directly from you, when you provide it to us voluntarily through forms, registrations, subscriptions, or communications.
        - Automatically from you, when you use our website or services and we use cookies or other tracking technologies to collect technical or usage data.
        - From third parties, when we receive your personal data from other sources, such as social media platforms, analytics providers, or payment processors.
      </pre>
      <h3>How do we use your data?</h3>
      <h5>We may use your personal data for various purposes, such as:</h5>
      <pre>
        - To provide and improve our website and services and to personalize your experience.
        - To communicate with you and respond to your inquiries or requests.
        - To send you marketing communications and promotional offers that may be of interest to you.
        - To analyze and measure the performance and effectiveness of our website and services.
        - To comply with legal obligations and enforce our terms and conditions..
      </pre>
      <h3>How do we protect your data?</h3>
      <p>We take appropriate technical and organizational measures to protect your personal data from unauthorized access, use, disclosure, alteration, or destruction. We use encryption, firewalls, password protection, and other security features to safeguard your personal data. However, no method of transmission or storage is completely secure and we cannot guarantee the absolute security of your personal data.</p>
      <h3>What are your rights?</h3>
      <h5>You have certain rights regarding your personal data under applicable laws. These may include:
    </h5>
      <pre>
        - The right to access your personal data and request a copy of it.
        - The right to rectify any inaccurate or incomplete personal data.
        - The right to erase or restrict the processing of your personal data in certain circumstances.
        - The right to object to the processing of your personal data for direct marketing purposes or for other legitimate interests.
        - The right to withdraw your consent at any time where we rely on it for processing your personal data.
        - The right to lodge a complaint with a supervisory authority if you believe that we have violated your privacy rights.
      </pre>
      <h3>How can you contact us?</h3>
      <h5>If you have any questions or concerns about this privacy policy or our handling of your personal data, please contact us at:</h5>
      <pre>
        email: chima@troolog.com

        We will respond to your request as soon as possible.
      </pre>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  const widgetScriptUrl = 'https://troologdemo.azurewebsites.net/static/minichat.js';
  const script = document.createElement("script");
  script.src = widgetScriptUrl;
  script.async = true;
  script.onload = () => {
    initialise(1);
  };
  document.head.appendChild(script);
</script>
{% endblock %}