<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/user.css" />
    {% block style %}

    {% endblock %}
    <title>Calendar App</title>
</head>
<body>
    <div class="px-0 bg-light">
        <div class="d-flex">
            <div class="d-flex align-items-center " id="navbar"> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation"> <span class="fas fa-bars"></span> </button> <a class="text-decoration-none fs14 ps-2" href="/">CalendarApp<span class="fs13 pe-2">.com</span></a> </div>

        </div>
        <div class="d-md-flex">
            <ul id="navbar-items" class="p-0">
                <li> <span class="fas fa-th-list"></span> <a href="/dashboard" class="ps-3 name">Dashboard</a> </li>
                <li> <span class="fas fa-chart-line"></span> <a href="/configurations" class="ps-3 name">Configuration</a> </li>
                <li> <span class="fas fa-chart-line"></span> <a href="/events" class="ps-3 name">Events</a> </li>
                <li> <span class="fas fa-clipboard-check"></span> <a href="/profile" class="ps-3 name">Profile</a> </li>
                <li> <span class="fas fa-store-alt"></span> <a href="/logout" class="ps-3 name">Logout</a> </li>
            </ul>
            <div id="topnavbar">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if
                    messages %} {% for category, message in messages %} {% if category ==
                    'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>




    <!-- JavaScript Bundle with Popper -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='animation.js') }}"></script>
    <script src="{{ url_for('static', filename='imagesloaded.js') }}"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
    
    {% block script %}
    
    {% endblock %}
</body>
</html>