
::-webkit-scrollbar {
	width: 2px;
}

.container{
    padding-right: 5!important;
    padding-left: 5!important;
}

::-webkit-scrollbar-thumb {
	background: #000; 
	border-radius: 5px;
}
.flat-icon li{
	display: inline-block;
    padding: 0px 8px;
    vertical-align: middle;
    position: relative;
    top: 7px;
}

.flat-icon a img {
    width: 22px;
    border-radius: unset !important;
}

ul.list-inline.text-left.d-inline-block.float-left {
    margin-bottom: 0;
}

.chat-list-box ul li img {
    border-radius: 50px;
}

.message-box{
	display: inline-block;
    width: 100%;
    background: #fff;
}

.msg-box li{
	display:inline-block;
	padding-left: 10px;
}

.msg-box img{
	border-radius:50px;
}

.msg-box li span{
	padding-left:8px;
	color:#545454;
	font-weight:550;
}

.head-box {
    display: flow-root;
    padding: 10px;
    background: #007bff;
}
.head-box ul li a{
    color:#fff;
}
.chat-person-list{
	padding:14px;
}
.chat-person-list ul li img{
	width:30px;
	border-radius:50px;
}

.chat-person-list ul li span {
    padding-left: 20px;
}

.chat-person-list ul li {
    line-height: 55px;
}

span.chat-time {
    float: right;
    font-size: 12px;
}

.head-box-1{
	display: flow-root;
    padding: 10px;
    background: #007bff;
}
.head-box-1 ul li{
    position: relative;
}
.head-box-1 ul li i{
    color:#fff;
    cursor:pointer;
}
.head-box-1 ul li span{
    color:#fff;
    position:relative;
    top:-10px;
}
.msg_history {
    padding: 10px;
    height: calc(100vh - 160px);
    overflow: overlay;
}
.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.timee{
    position: absolute;
    left: 62px;;
    top: 20px;
    color: #fff;}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg {
    width: 57%;
}
.received_withd_msg p {
       background: rgba(0,123,255,.5) none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 22px;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.incoming_msg_img img {
    width: 100%;
    border-radius: 50px;
    float: left;
}
.outgoing_msg {
    overflow: hidden;
    margin: 10px 0 10px;
}
.sent_msg {
    float: right;
    width: 46%;
}
.sent_msg p {
  background: #ddd;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #333;
    padding: 5px 10px 5px 22px;
    width: 100%;
	border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.chat-person-list ul li a {
    color: #545454;
    text-decoration: none;
}
.attachement {
    background: #777;
    position: absolute;
    width: 220px;
    right: 30%;
    top: 42px;
    display: none;
}
.attachement ul li {
    display: -webkit-inline-box;
    margin: 0px 19px 15px 20px;
}
.attachement ul li a{
	color:#fff;
}


.send-message {
    padding: 15px;
    background: #007bff;
    height: auto;
}
.send-message textarea:focus {
    box-shadow: none;
    outline: none;
	border-color:#ddd;
}
.send-message textarea {
    padding-right: 80px;
}
.send-message ul li {
    display: -webkit-inline-box;
    padding-left: 15px;
}
.send-message form{
    position: relative;
}
.send-message ul li i{color:#0056b3;}
.send-message ul li a{color:#0056b3;}
.send-message ul {
    position: absolute;
    top: 18px;
    right: 25px;
    border-left: 1px solid #9c9a9a;
}
.send-message .form-control {
    border-radius: 50px;
}

.start-chat{
    background-color: #0056b3;
    height: 100px;
    color: #ffffff;
    padding-top: 10px;
}
.start-chat-form{
    height: 400px;
}
#chat-container{
    display:none;
}
.sent_img{
    max-width: 160px;
    max-height: 160px;
    object-fit: contain;
  }
